/*VARIABLES*/
$font-color: #091818;

/*SASS SECTION*/
@use "../styles/navigation";
@use "../styles/button";
@use "../styles/aboutUs";
@use "../styles/gallerySection";
@use "../styles/scrolling";
@use "../styles/testimonial-section";
@use "../styles/blogList";
@use "../styles/footer";
@use "../styles/errorPage";
@use "../styles/introduction";
@use "../styles/mqaboutUs";
@use "../styles/thriving";
@use "../styles/mqthriving";
@use "../styles/mqfooter";
@use "../styles/mqgallerySection";
@use "../styles/mqtestimonial-section";
@use "../styles/mqScrolling";
@use "../styles/mqblogList";
@use "../styles/mqerrorPage";
@use "../styles/mqintroduction";
@use "../styles/mqstyle";
@use "../styles/mqbutton";
@use "../styles/mqnavigation";

/* FONTS*/
@font-face {
    font-family: 'trirong thin';
    src: url('../fonts/trirong-thin-webfont.woff2') format('woff2'),
         url('../fonts/trirong-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trirong light';
    src: url('../fonts/trirong-light-webfont.woff2') format('woff2'),
         url('../fonts/trirong-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trirong extralight';
    src: url('../fonts/trirong-extralight-webfont.woff2') format('woff2'),
         url('../fonts/trirong-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'antic didone';
    src: url('../fonts/anticdidone-regular-webfont.woff2') format('woff2'),
         url('../fonts/anticdidone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'italiana';
    src: url('../fonts/italiana-regular-webfont.woff2') format('woff2'),
         url('../fonts/italiana-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cinzel';
    src: url('../fonts/cinzel-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/cinzel-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nixie one';
    src: url('../fonts/nixieone-regular-webfont.woff2') format('woff2'),
         url('../fonts/nixieone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cinzel decorative';
    src: url('../fonts/cinzeldecorative-regular-webfont.woff2') format('woff2'),
         url('../fonts/cinzeldecorative-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

html{
    scroll-behavior: smooth !important;
}

body, html {
    overflow-x: hidden !important;
    font-size: 65% !important;
    min-height: 100vh !important;
}

/* CUSTOM SCROLLBAR*/
::-webkit-scrollbar {
    width: 1.1rem !important;
}
::-webkit-scrollbar-track {
    background: #e6fff48d !important;
    border-radius: 1rem !important;
    margin-block: 0.1rem !important;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(#D5EAF5, #101d40d7);
    border-radius: 1rem !important;
    height: 1rem !important;
}

/* LANDING PAGE 1*/
#landing{
    position: relative !important;
    width: 100%;
    height: 100.1vh;
    aspect-ratio: 16/10;
    background: linear-gradient(127deg, #A7CBD5, #e0fbfc3a);
    z-index: 1 !important;
    overflow: hidden;
&::before{
    content: ' ';
    position: absolute;
    top: -4rem;
    left: 0;
    width: 50%;
    height: 100vh;
    border-bottom-right-radius: 100%;
    background: linear-gradient(225deg, #a7c9d577 0%, #A7CBD577 75%, #A7CBD577 100%);
    backdrop-filter: blur(1.7rem);
    background-clip: border-box;
    z-index: -1 !important;
    animation: move-up 2s infinite alternate;
@keyframes move-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(4rem);
    }
    }
}
&::after{
    content: ' ';
    position: absolute;
    bottom: 0rem;
    right: 0;
    width: 39%;
    height: 70vh;
    border-top-left-radius: 100%;
    background: linear-gradient(125deg, #A7CBD570 0%, #a7cbd570 75%, #A7CBD570 100%);
    backdrop-filter: blur(1rem);
    background-clip: border-box;
    z-index: -2 !important;
    animation: move-up 4s infinite alternate;
@keyframes move-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(4rem);
    }
    }
}
.landing-right {
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 90%;
    place-content: start center;
h1 {
   position: relative;
    font-family: 'antic didone';
    font-weight: 500;
    font-size: 4.2rem;
    color: $font-color;
    margin-top: 5.6rem !important;
    //transform: translateY(5.6rem);
    padding-top: 0.9rem;
    padding-left: 1.4rem;
    padding-bottom: 0.9rem;
    background-color: rgba(199, 236, 254, 0.2);
    border-bottom:  0.2rem solid #0c313946;
    border-top: #0c313946 0.6rem solid;
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
}

.audio-player {
     h2 {
    font-family: 'trirong thin' !important;
    font-weight:600 !important;
    font-size: 2.3rem !important;
    color: $font-color !important;
    //padding-top: 1rem !important;
    //padding: -3rem !important;
    transform: translateY(0.3rem);
    white-space: wrap !important;
}
#icon2 .fa-regular.fa-circle-play.fa-circle-play {
    font-size: 6rem !important;
    color:  #13292fdb !important;
    cursor: pointer !important;
    top: 100% !important;
    transform: translateY(0%) !important;
    margin-top: 1rem !important;
    position: relative !important;
    z-index: 9999 !important;
}
}

.sub-landing {
    position: relative;
    font-family: 'trirong thin';
    font-weight: 800;
    font-size: 2.3rem;
    color: $font-color;
    //transform: translateY(5.6rem);
    padding-top: 1rem !important;
    padding-bottom: 0.3rem !important;
    white-space: wrap !important;
}
.sub-landing2 {
    font-family: 'trirong thin';
    font-weight: 600;
    font-size: 2rem;
    //transform: translateY(5.6rem);
    padding-bottom: 1rem !important;
    color: $font-color;
}
ul li {
    font-family: 'trirong thin';
    font-weight: 600;
    font-size: 1.6rem;
    color: $font-color;
    list-style: none;
    position: static;
    left: 3rem !important;
    white-space: wrap !important;
    z-index: 9999;
}
}
.image-box {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
img {
    display: block;
    height: 95.5vh;
    max-width: 100%;
    object-fit: cover;
    bottom: 0rem;
    left: 140%;
    transform: translateY(2rem) translateX(121%);
    z-index: -1 !important;
}
}
}

/*LANDING PAGE 2 */
#landing2 {
    position: relative;
    width: 100%;
    height: 100.1vh;
    aspect-ratio: 16/10;
    background: linear-gradient(127deg, #CCE3DD , #F9FAF5);
    z-index: 1 !important;
    overflow: hidden;
&::before{
    content: ' ' !important;
    position: absolute !important;
    top: -4rem !important;
    left: 0 !important;
    width: 50% !important;
    height: 100vh !important;
    border-bottom-right-radius: 100% !important;
    background: linear-gradient(225deg, #CCE3DD 0%, #CCE3DD 75%, #CCE3DD 100%) !important;
    backdrop-filter: blur(0.7rem) !important;
    background-clip: border-box !important;
    z-index: -1 !important;
    animation: move-up 2s infinite alternate;
@keyframes move-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(4rem);
    }
    }
}
&::after{
    content: ' ' !important;
    position: absolute !important;
    bottom: 0rem !important;
    right: 0 !important;
    width: 39% !important;
    height: 70vh !important;
    border-top-left-radius: 100% !important;
    background: linear-gradient(125deg, #cce3dd77 0%, #cce3dd77 75%, #CCE3DD77 100%) !important;
    backdrop-filter: blur(0rem) !important;
    background-clip: border-box !important;
    z-index: -2 !important;
    animation: move-up 4s infinite alternate;
@keyframes move-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(4rem);
    }
    }
}
.landing-right {
    height: 100vh !important;
    position: relative !important;
    display: grid !important;
    grid-template-columns: 90% !important;
    place-content: start center !important;
h1 {
   position: relative;
    font-family: 'antic didone';
    font-weight: 500;
    font-size: 4.3rem;
    color: $font-color;
    margin-top: 5.6rem !important;
    padding-top: 0.9rem;
    padding-left: 1.4rem;
    padding-bottom: 0.9rem;
    background-color: rgba(204, 227, 221, 0.8);
    border-bottom: #05252c5e 0.2rem solid;
    border-top: #05252c5e 0.6rem solid;
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
}
.audio-player {
h2 {
    font-family: 'trirong thin';
    font-weight: 600;
    font-size: 2.3rem;
    color: $font-color;
    padding-top: 0rem !important;
    padding-bottom: 0.3rem !important;
    white-space: wrap !important;
}
}
#icon1 .fa-regular.fa-circle-play.fa-circle-play {
    font-size: 6rem !important;
    color: #13292fdb !important;
    cursor: pointer !important;
    margin-top: 1rem !important;
}
.sub-landing {
    font-family: 'trirong thin';
    font-weight: 800;
    font-size: 2.3rem;
    color: $font-color;
    padding-top: 1rem !important;
    padding-bottom: 0.4rem !important;
    white-space: wrap !important;
}
.sub-landing2 {
    font-family: 'trirong thin';
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem !important;
    color: $font-color;
}
ul li {
    font-family: 'trirong thin';
    font-weight: 600;
    font-size: 1.6rem;
    color: $font-color;
    list-style: none;
    position: static !important;
    left: 3rem !important;
    white-space: wrap !important;
}
}
.image-box2 {
    display: grid;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
img {
    display: block;
    position: absolute;
    height: 111vh;
    max-width: 100%;
    object-fit: cover;
    bottom: 0;
    right: -8rem;
    z-index: 9;
}
}
}

/*LANDING PAGE 3 */
.border-white {
    border: 9px solid #ffffff !important;
    border-bottom: 3px solid #ffffff !important;
    z-index: 4 !important;
    background-color: #013b300f;
    box-shadow: 0 -6px 12px -6px rgba(0,0,0,0.45), /* top shadow */
                0 6px 12px -6px rgba(0,0,0,0.45);  /* bottom shadow */
}
#landing3 {
    position: relative;
    width: 100%;
    height: 101vh;
    aspect-ratio: 16/10;
    background: linear-gradient(127deg, #aab8c2 , #F9FAF5);
    z-index: 1 !important;
    overflow: hidden;
&::before{
    content: ' ' !important;
    position: absolute !important;
    top: -4rem !important;
    left: 0 !important;
    width: 50% !important;
    height: 100vh !important;
    border-bottom-right-radius: 100% !important;
    background: linear-gradient(225deg, #aab8c2 0%, #aab8c2 75%, #aab8c2 100%) !important;
    backdrop-filter: blur(3rem) !important;
    background-clip: border-box !important;
    z-index: -1 !important;
    animation: move-up 2s infinite alternate;
@keyframes move-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(4rem);
    }
    }
}
&::after{
    content: ' ' !important;
    position: absolute !important;
    bottom: 0rem !important;
    right: 0 !important;
    width: 39% !important;
    height: 70vh !important;
    border-top-left-radius: 100% !important;
    background: linear-gradient(125deg, #82a7be77 0%, #aab8c277 75%, #aab8c277 100%) !important;
    backdrop-filter: blur(1rem) !important;
    background-clip: border-box !important;
    z-index: -2 !important;
    animation: move-up 4s infinite alternate;
@keyframes move-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(4rem);
    }
    }
}
.landing-right {
    height: 100vh !important;
    position: relative !important;
    display: grid !important;
    grid-template-columns: 90% !important;
    place-content: start center !important;
h1 {
    position: relative;
    font-family: 'antic didone';
    font-weight: 500;
    font-size: 4.1rem;
    color: $font-color;
    margin-top: 5.6rem !important;
    padding-top: 0.9rem !important;
    padding-left: 1.4rem !important;
    padding-bottom: 0.9rem !important;
    border-bottom: #05252c5e 0.2rem solid !important;
    border-top: #05252c5e 0.6rem solid !important;
    border-top-left-radius: 0.1rem !important;
    border-bottom-left-radius: 0.1rem !important;
}
.audio-player {
h2 {
    font-family: 'trirong thin';
    font-weight: 600;
    font-size: 2.3rem;
    color: $font-color;
    padding-top: 0rem !important;
    padding-bottom: 0.3rem !important;
    white-space: wrap !important;
}
#icon .fa-regular.fa-circle-play.fa-circle-play{
    font-size: 6rem !important;
    color: rgba(4, 33, 39, 0.952) !important;
    cursor: pointer !important;
    padding: 0rem !important;
    margin-top: 1rem !important;
}
}   
.sub-landing {
    font-family: 'trirong thin';
    font-weight: 800;
    font-size: 2.3rem;
    color: $font-color;
    padding-top: 1rem !important;
    padding-bottom: 0.4rem !important;
    white-space: wrap !important;
}
.sub-landing2 {
    font-family: 'trirong thin';
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem !important;
    color: $font-color;
}
ul li {
    font-family: 'trirong thin';
    font-weight: 800;
    font-size: 1.6rem;
    color: $font-color;
    list-style: none;
    position: static !important;
    left: 3rem !important;
}
}
.image-box2 {
    display: grid;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
img {
    display: block;
    position: absolute;
    height: 95.4vh;
    max-width: 100%;
    object-fit: cover;
    bottom: 0;
    right: -1rem;
    z-index: 9;
}
}
}